<table style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr>
      <th style="border: 1px solid var(--BORDER); padding: 8px; background: var(--HEADER);">
        Design Name
      </th>
      <th style="border: 1px solid var(--BORDER); padding: 8px; background: var(--HEADER); text-align:center;">
        Last Updated
      </th>
      <th style="border: 1px solid var(--BORDER); padding: 8px; background: var(--HEADER); text-align:center;">
        Gate Ct
      </th>
      <th style="border: 1px solid var(--BORDER); padding: 8px; background: var(--HEADER); text-align:center;">
        Clock Freq
      </th>
      <th style="border: 1px solid var(--BORDER); padding: 8px; background: var(--HEADER); text-align:center;">
        Wirelength
      </th>
      <th style="border: 1px solid var(--BORDER); padding: 8px; background: var(--HEADER); text-align:center;">
        Core Util
      </th>
      <th style="border: 1px solid var(--BORDER); padding: 8px; background: var(--HEADER); text-align:center;">
        seq:comb Ratio
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid var(--BORDER); padding: 8px; background: var(--UPTODATE);">
        <a href="https://nvdla.org/">NVDLA</a>
      </td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
    </tr>

    <tr>
      <td style="border: 1px solid var(--BORDER); padding: 8px; background: var(--UPTODATE);">
        <a href="https://github.com/enjoy-digital/liteeth">LiteEth</a>
      </td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
    </tr>

    <tr>
      <td style="border: 1px solid var(--BORDER); padding: 8px; background: var(--UPTODATE);">
        <a href="https://github.com/NNgen/nngen">cnn</a>
      </td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
    </tr>

    <tr>
      <td style="border: 1px solid var(--BORDER); padding: 8px; background: var(--UPTODATE);">
        <a href="https://github.com/google-coral/coralnpu">coralnpu</a>
      </td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
    </tr>

    <tr>
      <td style="border: 1px solid var(--BORDER); padding: 8px; background: var(--UPTODATE);">
        <a href="https://github.com/jbush001/NyuziProcessor">NyuziProcessor</a>
      </td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
    </tr>

    <tr>
      <td style="border: 1px solid var(--BORDER); padding: 8px; background: var(--STATIC);">
        <a href="https://github.com/gsmecher/minimax">Minimax</a>
      </td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
      <td style="border: 1px solid var(--BORDER); padding: 8px; text-align: center; background: var(--HEADER);"></td>
    </tr>
  </tbody>
</table>